// build:js js/vendors.js
script(src="js/vendors/jquery-1.10.2.min.js")
script(src="js/vendors/bootstrap.min.js")
script(src="js/vendors/jquery.validate.js")
// endbuild

// build:js js/modules.js
script(src="js/modules/header.js")
script(src="js/modules/footer.js")
// endbuild
